<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <!-- This file contains general settings for the whole application -->
  <PropertyGroup>
    <Company>Orit</Company>
    <ApplicationVersion>1.0.0.0</ApplicationVersion>
    <SharePointVersion>14</SharePointVersion>
    <SolutionKeyFileName>Orit.EgrulViewer.snk</SolutionKeyFileName>
    <SolutionSignAssembly>True</SolutionSignAssembly>
    <AutoCreateResxFiles>False</AutoCreateResxFiles>
    <AutoGenerateManifest>True</AutoGenerateManifest>
    <DebuggingWebApp>http://mrrdviz_stage</DebuggingWebApp>
    <StartupUrl>http://mrrdviz_stage</StartupUrl>
  </PropertyGroup>
  <!-- The following section can be used to defined use dependend settings -->
  <PropertyGroup Condition="'$(USERNAME)' == 'NVXLAB\holinov'">
    <DebuggingWebApp>http://mrrdviz_stage</DebuggingWebApp>
    <StartupUrl>http://mrrdviz_stage</StartupUrl>
  </PropertyGroup>
</Project>