<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGate2FNSService" closeTimeout="00:00:10"
                    openTimeout="00:01:00" receiveTimeout="00:03:00" sendTimeout="00:03:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="655360" maxBufferPoolSize="524288" maxReceivedMessageSize="655360"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://193.46.207.196:8000/Gate2FNSService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGate2FNSService"
                contract="Gate2FNSSvc.IGate2FNSService" name="BasicHttpBinding_IGate2FNSService" />
        </client>
    </system.serviceModel>

</configuration>